

<div class="container">
    <div class="col-6 mx-auto shadow p-4">
    <h5 class="text-success text-center mb-4">Change password</h5>
    <form #myForm="ngForm">
        <input type="text" class="form-control my-2" placeholder="Enter old password" [(ngModel)]="oldpass" name="oldpass" required #oldpas="ngModel">
        <input type="text" class="form-control my-2" placeholder="Enter new password" [(ngModel)]="newpass" name="newpass" required #newpas="ngModel">
        <input type="text" class="form-control my-2" placeholder="Confirm new password" [(ngModel)]="confirmpass" name="confirmpass" required #confirmpas="ngModel">
        <button (click)="change()" class="btn btn-outline-success w-100 " [disabled]="myForm.invalid">Submit</button>
    </form>
    <p class="text-warning text-center">{{dispmsg}}</p>
</div>
</div>
