
<div class="d-flex justify-content-center align-items-center">
  <div class="container mt-5">
    <div class="card shadow p-4">
      <h2 class="text-center mb-4">Contact Information</h2>
      <div class="text-center">
        <h3 class="text-primary">{{ this.userinfo.Firstname }} {{ this.userinfo.Lastname }}</h3>
        <p class="text-muted"><strong>Email:</strong> {{ this.userinfo.Email }}</p>
        <p class="text-muted"><strong>Phone Number:</strong> {{ this.userinfo.Phonenumber }}</p>
        <button (click)="return()" class="btn btn-sm btn-outline-success ">return</button>
      </div>
      
    </div>
   
  </div>
</div>

