<div class="container">
    <div class="mx-auto col-6 p-3 shadow">
        <h3 class="text-center text-primary">Set a new password</h3>
            <input type="text" placeholder="password" class="form-control my-2" [(ngModel)]="password">
            <input type="text" placeholder="Confirm password" class="form-control my-2" [(ngModel)]="cpassword">
            <button (click)="update()" class="btn btn-outline-primary">Submit</button>
            <h5 class="text-primary text-center">{{msg}}</h5>
    </div>
</div>
