/* .display {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: antiquewhite;
    padding: 5px;
    padding-left: 3px;
    box-shadow: 2px 2px gray;
    width: 300px;
    
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.display:hover {
    background-color: rgb(250, 212, 162);
    box-shadow: 5px 5px gray;
} */